@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.4/joint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js" integrity="sha512-psLUZfcgPmi012lcpVHkWoOqyztollwCGu4w/mXijFMK/YcdUdP06voJNVOJ7f/dUIlO2tGlDLuypRyXX2lcvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/graphlib/2.0.0/graphlib.min.js" integrity="sha512-upZKfS54zbYU/k0YT7CI31M32Kf4yfRBD3IgxCTN4f79kBz5P7Qy4SA1JDH1ROUNyA7bIm93TfAiWKDicKxP4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/jointJsController.js"></script>
}

@{
    ViewBag.Title = "JointJs Presentation";
    Layout = "_Layout";
}

<div id="diagram"></div>